.block {
    /* text-align: center; */
}

.block__row {
    border: 20px solid #ece89d;
    margin: 0 0 20px 0;
    display: flex;
    /* display: inline-flex; */
    /* justify-content: center; */
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: space-between; */
    /*одинакова вiдстань мыжелементами*/
    /* justify-content: space-around; */
    /* align-items:stretch ; */ /*по замовчуванню*/
    /* align-items: flex-end; */
    /* align-items: baseline; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    align-items: center;
    

}
.block__column {
    border: 20px solid rebeccapurple;
    /* flex-basis: auto; */
}
    &:ntn-child(2) {
        /* block__item {font: size 80px;} */
    }
    .block__column_1 {
      /* order:3; */
    }
    .block__column_2 {
        /* order:2; */
    }
    .block__column_3 {
        /* order:1; */
    }



.block__item {
    background-color: #18b5a4;
    padding: 50px;
    height: 30%;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}
.block__item2 {
    background-color: #18b5a4;
    padding: 50px;
    height: 40%;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}